.glass-door {
    height: 302px;
  
}
    
    
    
    .glass-door h2 {
        position: relative;
        font-family: ProximaNova-Bold;
        font-size: 37px;
        color: #fff;
        letter-spacing: -1.05px;
        text-align: left;
        line-height: 42px;
        padding-top: 30px;
        width: 300px;
    
      
    }

    .glass-door .background {
        background-image: url('/themes/endsleigh/assets/images/endsleigh/careers/careers-glassdoor-background@2x.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .glass-door .review {
        position: relative;
        height: 218px;
        width: 460px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 42px;
        margin-bottom: 42px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
       

    }