.single-list-swiper {


  .swiper-button-basic {
	background-color: #00B2A9;
	height: 45px;
	width: 45px;
	max-height: 45px;
	max-width: 45px;
	border-radius: 50%;
	background-image: none !important;
	display: flex;
	align-items: center;
	justify-content: center;

  }

  .swiper-container {
	min-width: 400px;
	@media (max-width: 992px) {
	  min-width: 100%;

	}
  }

  .swiper-slide {
	background: #fff;
	min-width: 200px;
	@media (max-width: 992px) {
	  min-width: 100%;

	}
  }

  .swiper-pagination-bullets {
	border-radius: 25px;
	background: transparent;
	padding: 10px 4px;
	flex: auto;
	position: relative;
	align-self: flex-start;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

  }

  .swiper-pagination-bullet {
	background: #DFDFDF;
	opacity: 1;
	width: 6px;
	height: 6px;
	margin: 0 7px;

  }

  .swiper-pagination-bullet-active {
	background: #e22e47;
	width: 10px;
	height: 10px;
	transition: 5ms;
	margin: 0 7px;

  }

  .swiper-button-prev {
	position: relative;
	flex: 55px;
	left: auto;
	margin-top: 0;

  }

  .swiper-button-next {
	position: relative;
	flex: 55px;
	right: 0;
	margin-top: 0;
  }

  .swiper-controlls-container-single {
	margin-top:25px;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	display: flex;
	position: relative;

  }

  @media (max-width: 992px) {
	.swiper-controlls-container-single {
	  visibility: visible;
	}

  }

  .btn-transparent {
	padding:0;
	margin-left:0;
  }

}
