

    .card .strap {

        background-image: url('/themes/endsleigh/assets/images/endsleigh/desktop_personal/_home-category-strap.png');
        background-size: 90% auto;
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;

    }