
    .container {
        max-width: 1366px;
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .content-wrapper {
        position: relative;
        max-width: 100%;
        z-index: 1;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .false-box {
        width: 100%;
        height: 390px;
    }

@media (min-width: 992px) {
    
    .content-wrapper {
        width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .false-box {
        width: 460px;
    }


}