.three-grid {
    color: #fff;
    .background {
       background-image: url('/themes/endsleigh/assets/images/endsleigh/careers/careers-glassdoor-background@2x.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    p {
      color: #fff;  
    }
}