section.policy-details{
  background-color: #F6F6F6;

  h3 {
	color:#e22e47;
	text-transform: uppercase;
	font-size:11px;
	display:inline-block;
	padding:5px;
  }

  p {
	font-weight:bold;
  }

  .list-container {
	display: flex;
	@media (max-width: 850px) {
	  flex-direction: column;
	  margin:20px;
	}

	.list {
	  flex: 1;
	  margin:15px;
	  @media (max-width: 850px) {
		margin-bottom:30px;
	  }
	  .header {
		background-color: #1A2C3F;
		padding:20px 0;



		h4 {
		  font-size:17px;
		  color:#fff;
		}
	  }

	  .body {
		background: #fff;
	  }

	}

	.tick-list {

	  display:flex;
	  border:thin solid #f2f2f2;
	  min-height:80px;


	  div:nth-of-type(1)
	  {
		padding:10px;
	  }

	  div:nth-of-type(2)
	  {
		font-size:15px;
		font-weight:bold;
		padding:15px;
		text-align: left;

		p {
		  color:#bfbebf;
		  font-size:12px;
		  font-weight:normal;
		  margin-top:15px;
		}

	  }
	}

  }

  .extra-container {
	background: #fff;
	padding:10px;
	text-align:left;

	p {
	  color:#bfbebf;
	  font-size:12px;
	  font-weight:normal;
	  margin-top:15px;
	  text-align:left;
	}
  }


}

.options-tabs {
  display:flex;
  margin: 0 20px 0 20px;

  div {
	background-color: #fff;
	border: thin solid #fafafa;
	padding: 15px;
	flex:1;
	font-size:13px;
	font-weight:bold;
  }

  div:hover {
	cursor: pointer;
  }

  div.active {
	border-bottom: 2px solid #000;
	color:#00B2A9;
  }

}
