//Buttons

.btn-eis {
  position: relative;
  font-family: ProximaNova-Bold;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  cursor: pointer;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.btn-eis {
  min-width: 150px;
  line-height: 1;
  padding: 12px 46px 10px 14px;
  border-radius: 22px;
  font-size: 18px;
  background-color: #00A59C;
  border: 2px solid #00A59C;
  color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.btn-eis.block {
  width: 100%;
  max-width: 100%;
}

.btn-eis.arrow:after  {
  font-family: "eis-icons";
  font-weight: 400;
  font-size: 14px;
  content: "\76";
  speak: none;
  position: absolute;
  right: 14px;
  top: 14px;
}
.btn-eis.plus:after  {
  font-family: "eis-icons";
  font-size: 30px;
  font-weight: 200;
  color: rgba(255,255,255, 0.8);
  content: "\75";
  speak: none;
  position: absolute;
  right: 4px;
  top: 6px;
  line-height: 1;
}
.btn-eis:hover {
  border-color: #00C3B9;
  background-color: #00C3B9;
  color: #FFF;
  text-decoration: none;
}
.btn-eis:active {
  border-color: #0A2A3B;
  background-color: #0A2A3B;
  color: #FFF;
  text-decoration: none;
}
.btn-eis.secondary{
  background-color: transparent;
  color: #00A59C;
  text-decoration: none;
  box-shadow: none;
}
.btn-eis.secondary.light {
  border-color: #fff;
  color: #fff;

}
.btn-eis.secondary:hover {
  border-color: #00C3B9;
  color: #00C3B9;
  text-decoration: none;
}
.btn-eis.secondary:active {
  border-color: #0A2A3B;
  color: #0A2A3B;
  text-decoration: none;
}
.link-eis {
  position: relative;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  color: #FFF;
  cursor: pointer;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.link-eis {
  height: 44px;
  padding: 10px 0 10px 0;
  font-size: 14px;
  color: rgba(255,255,255, 1);
}
.link-eis.arrow:after  {
  font-family: "eis-icons";
  font-size: 8px;
  content: "\61";
  speak: none;
  position: absolute;
  margin-left: 10px;
  line-height: 24px;
}

a.link-arrow {

  line-height: 1;
  min-width: 120px;
  font-size: 15px;
  color: #00A59C;
  padding: 12px 0px 10px 14px;
  font-family: ProximaNova-Bold;

}

a.link-arrow:after {

  font-family: "eis-icons";
  font-weight: 400;
  position: relative;
  content: "\76";
  speak: none;
  margin-left: 10px;
  top: 3px;
  line-height: 1;
  height: 6px;


}

