[viewBag]
snippetCode = "article-signpost-module"
snippetName = "article-signpost-module"
snippetProperties[articleSignpostsH1][title] = "article-signposts-H1"
snippetProperties[articleSignpostsH1][type] = "string"
snippetProperties[articleSignpostsH1][default] = "Talk to us on Twitter"
snippetProperties[articleSignpostsH1][options][] = ""
snippetProperties[articleSignpostsH2][title] = "article-signposts-H2"
snippetProperties[articleSignpostsH2][type] = "string"
snippetProperties[articleSignpostsH2][default] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore e"
snippetProperties[articleSignpostsH2][options][] = ""
==
<section class="article">
    <div class="container">
        <div class="row">
            <div class="col px-0">
                <div class="background">
                    <div class="content-wrapper">
                        <h2>{{ articleSignpostsH1 }}</h2>
                        <p>{{ articleSignpostsH2 }}</p>    
                        <div class="articles">
                            <div class="row">
                                <div class="col-md-12 ">
                            
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="article-single">
                                                        <img src="/storage/app/media/personal/_home-rating-one.jpg" width="100%">
                                                            <div class="copy">
                                                                <h3>Subheader</h3>
                                                                <h2>Article content goes here two lines</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <a href="#" class="btn-eis arrow">Read more</a>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="swiper-slide">
                                                        <div class="article-single">
                                                        <img src="/storage/app/media/personal/_home-rating-one.jpg" width="100%">
                                                            <div class="copy">
                                                                <h3>Subheader</h3>
                                                                <h2>Article content goes here two lines</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <a href="#" class="btn-eis arrow">Read more</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="swiper-slide">
                                                    <div class="article-single">
                                                        <img src="/storage/app/media/personal/_home-rating-one.jpg" width="100%">
                                                            <div class="copy">
                                                                <h3>Subheader</h3>
                                                                <h2>Article content goes here two lines</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <a href="#" class="btn-eis arrow">Read more</a>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="article-single">
                                                        <img src="/storage/app/media/personal/_home-rating-one.jpg" width="100%">
                                                            <div class="copy">
                                                                <h3>Subheader</h3>
                                                                <h2>Article content goes here two lines</h2>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <a href="#" class="btn-eis arrow">Read more</a>
                                                            </div>
                                                        </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12" >
                                    <a  href="" class="btn-eis secondary  arrow">View more</a>
                                </div>
                            </div>
                        
            </div>
        </div>
    </div>
</div>
</div>
</section>