[viewBag]
snippetCode = "carousel-start-a-quote-questions"
snippetName = "carousel-start-a-quote-questions"
snippetProperties[H1StartAQuote][title] = "H1-start-a-quote"
snippetProperties[H1StartAQuote][type] = "string"
snippetProperties[H1StartAQuote][default] = "Lorem Ipsum"
snippetProperties[H1StartAQuote][options][] = ""
snippetProperties[H2StartAQuote][title] = "H2-start-a-quote:"
snippetProperties[H2StartAQuote][type] = "string"
snippetProperties[H2StartAQuote][default] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
snippetProperties[H2StartAQuote][options][] = ""
==
<section class="travel-insurance-header" id="12">
										<div class="container">
											<div class="row">
												<div class="col px-0">
													<div class="content-wrapper py-5">
														<div class="row">
															<div class="col-md-6" style="text-align: left;">
																<h1 class="text-white font-weight-bold text-left">{{ H1StartAQuote }}</h1>
																<p class="text-white text-left">{{ H2StartAQuote }}</p>
																<div class="card">
																	<div class="card-body text-center get-travel-insurance-start">
																		<h5>Start a quote</h5>
																		<p class="font-weight-bold">Type of trip?</p>
																		<div class="select-icons flex-wrap">
																			<div class="item">
																				<div class="wrap">
																					A single tripe
																				</div>
																			</div>
																			<div class="item">
																				<div class="wrap">
																					Multiple locations
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-6"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>