[viewBag]
snippetCode = "carousel-contact-us"
snippetName = "carousel-contact-us"
snippetProperties[H1CarouselContactUs][title] = "H1-carousel-contact-us"
snippetProperties[H1CarouselContactUs][type] = "string"
snippetProperties[H1CarouselContactUs][default] = ""
snippetProperties[H1CarouselContactUs][options][] = ""
snippetProperties[H2CarouselContactUs][title] = "H2carousel-contact-us"
snippetProperties[H2CarouselContactUs][type] = "string"
snippetProperties[H2CarouselContactUs][default] = ""
snippetProperties[H2CarouselContactUs][options][] = ""
snippetProperties[H3CarouselContactUs][title] = "H3-carousel-contact-us"
snippetProperties[H3CarouselContactUs][type] = "string"
snippetProperties[H3CarouselContactUs][default] = ""
snippetProperties[H3CarouselContactUs][options][] = ""
snippetProperties[Image][title] = "Image"
snippetProperties[Image][type] = "string"
snippetProperties[Image][default] = ""
snippetProperties[Image][options][] = ""
snippetProperties[ImageAltText][title] = "Image-alt-text"
snippetProperties[ImageAltText][type] = "string"
snippetProperties[ImageAltText][default] = ""
snippetProperties[ImageAltText][options][] = ""
snippetProperties[HeadingContactSignpost1][title] = "Heading-contact-signpost1"
snippetProperties[HeadingContactSignpost1][type] = "string"
snippetProperties[HeadingContactSignpost1][default] = ""
snippetProperties[HeadingContactSignpost1][options][] = ""
snippetProperties[CopyContactSignpost1][title] = "Copy-contact-signpost1"
snippetProperties[CopyContactSignpost1][type] = "string"
snippetProperties[CopyContactSignpost1][default] = ""
snippetProperties[CopyContactSignpost1][options][] = ""
snippetProperties[CtaContactSignpost1][title] = "CTA-contact-signpost1"
snippetProperties[CtaContactSignpost1][type] = "string"
snippetProperties[CtaContactSignpost1][default] = "#"
snippetProperties[CtaContactSignpost1][options][] = ""
snippetProperties[HeadingContactSignpost2][title] = "Heading-contact-signpost2"
snippetProperties[HeadingContactSignpost2][type] = "string"
snippetProperties[HeadingContactSignpost2][default] = ""
snippetProperties[HeadingContactSignpost2][options][] = ""
snippetProperties[CopyContactSignpost2][title] = "Copy-contact-signpost2"
snippetProperties[CopyContactSignpost2][type] = "string"
snippetProperties[CopyContactSignpost2][default] = ""
snippetProperties[CopyContactSignpost2][options][] = ""
snippetProperties[CtaContactSignpost2][title] = "CTA-contact-signpost2"
snippetProperties[CtaContactSignpost2][type] = "string"
snippetProperties[CtaContactSignpost2][default] = "#"
snippetProperties[CtaContactSignpost2][options][] = ""
==
<section class="header header-with-boxes">
    <div class="container">
        <div class="contact-info-header shadow">
            <div class="info-box-container">

                <h5><img src="storage/app/media/svg/landingpages/call.svg">Contact Us</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at doloremque harum molestiae officiis .</p>
                <div class="call-small">
                    <div style="flex:1"><img src="/storage/app/media/svg/landingpages/call.svg" alt=""></div>
                    <div class="call-container">
                        <span>Or call us now</span>
                        <span>0333 234 1556</span>
                    </div>
                </div>
            </div>

            <div class="info-box-container">
                <h5><img src="/storage/app/media/svg/landingpages/call.svg"> Arrange a callback</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at doloremque harum molestiae officiis.</p>
                <a class="green-button-small" href="#">Find out more</a>
            </div>
        </div>
        <div class="row">
            <div class="col px-0">
                <div class="swiper-overlay-container">
                    <div class="overlay">
                        <div class="content-wrapper">
                            <div class="col col-md-6 px-0">
                                <h1>{{ H1CarouselContactUs }}</h1>
                                <p>{{ H2CarouselContactUs }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-sizer">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide"><img alt="{{ ImageAltText }}" src="/storage/app/media/{{ Image }}" width="100%" class="img-fluid" style="max-height: 568px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div style="background:#f1f1f1; min-height:120px; z-index:99999999; padding-bottom:30px;"></div>
    </div>
</section>