[viewBag]
snippetCode = "product-range-module"
snippetName = "product-range-module"
snippetProperties[productRangeH1][title] = "product-range-H1"
snippetProperties[productRangeH1][type] = "string"
snippetProperties[productRangeH1][default] = ""
snippetProperties[productRangeH1][options][] = ""
snippetProperties[productRangeH2][title] = "product-range-H2"
snippetProperties[productRangeH2][type] = "string"
snippetProperties[productRangeH2][default] = ""
snippetProperties[productRangeH2][options][] = ""
snippetProperties[productRangeImage][title] = "product-range-Image"
snippetProperties[productRangeImage][type] = "string"
snippetProperties[productRangeImage][default] = ""
snippetProperties[productRangeImage][options][] = ""
snippetProperties[productRangeImageAltText][title] = "product-range-Image-Alt-TextZ"
snippetProperties[productRangeImageAltText][type] = "string"
snippetProperties[productRangeImageAltText][default] = ""
snippetProperties[productRangeImageAltText][options][] = ""
snippetProperties[productSignpost1Heading][title] = "product-signpost1-heading"
snippetProperties[productSignpost1Heading][type] = "string"
snippetProperties[productSignpost1Heading][default] = ""
snippetProperties[productSignpost1Heading][options][] = ""
snippetProperties[productSignpost1Copy][title] = "product-signpost1-copy"
snippetProperties[productSignpost1Copy][type] = "string"
snippetProperties[productSignpost1Copy][default] = ""
snippetProperties[productSignpost1Copy][options][] = ""
snippetProperties[productSignpost1Cta][title] = "product-signpost1-cta"
snippetProperties[productSignpost1Cta][type] = "string"
snippetProperties[productSignpost1Cta][default] = "#"
snippetProperties[productSignpost1Cta][options][] = ""
snippetProperties[productSignpost2Heading][title] = "product-signpost2-heading"
snippetProperties[productSignpost2Heading][type] = "string"
snippetProperties[productSignpost2Heading][default] = ""
snippetProperties[productSignpost2Heading][options][] = ""
snippetProperties[productSignpost2Copy][title] = "product-signpost2-copy"
snippetProperties[productSignpost2Copy][type] = "string"
snippetProperties[productSignpost2Copy][default] = ""
snippetProperties[productSignpost2Copy][options][] = ""
snippetProperties[productSignpost2Cta][title] = "product-signpost2-cta"
snippetProperties[productSignpost2Cta][type] = "string"
snippetProperties[productSignpost2Cta][default] = "#"
snippetProperties[productSignpost2Cta][options][] = ""
snippetProperties[productSignpost3Heading][title] = "product-signpost3-heading"
snippetProperties[productSignpost3Heading][type] = "string"
snippetProperties[productSignpost3Heading][default] = ""
snippetProperties[productSignpost3Heading][options][] = ""
snippetProperties[productSignpost3Copy][title] = "product-signpost3-copy"
snippetProperties[productSignpost3Copy][type] = "string"
snippetProperties[productSignpost3Copy][default] = ""
snippetProperties[productSignpost3Copy][options][] = ""
snippetProperties[productSignpost3Cta][title] = "product-signpost3-cta"
snippetProperties[productSignpost3Cta][type] = "string"
snippetProperties[productSignpost3Cta][default] = "#"
snippetProperties[productSignpost3Cta][options][] = ""
snippetProperties[productSignpost4Heading][title] = "product-signpost4-heading"
snippetProperties[productSignpost4Heading][type] = "string"
snippetProperties[productSignpost4Heading][default] = ""
snippetProperties[productSignpost4Heading][options][] = ""
snippetProperties[productSignpost4Copy][title] = "product-signpost4-copy"
snippetProperties[productSignpost4Copy][type] = "string"
snippetProperties[productSignpost4Copy][default] = ""
snippetProperties[productSignpost4Copy][options][] = ""
snippetProperties[productSignpost4Cta][title] = "product-signpost4-cta"
snippetProperties[productSignpost4Cta][type] = "string"
snippetProperties[productSignpost4Cta][default] = "#"
snippetProperties[productSignpost4Cta][options][] = ""
snippetProperties[productSignpost5Heading][title] = "product-signpost5-heading"
snippetProperties[productSignpost5Heading][type] = "string"
snippetProperties[productSignpost5Heading][default] = ""
snippetProperties[productSignpost5Heading][options][] = ""
snippetProperties[productSignpost5Copy][title] = "product-signpost5-copy"
snippetProperties[productSignpost5Copy][type] = "string"
snippetProperties[productSignpost5Copy][default] = ""
snippetProperties[productSignpost5Copy][options][] = ""
snippetProperties[productSignpost5Cta][title] = "product-signpost5-cta"
snippetProperties[productSignpost5Cta][type] = "string"
snippetProperties[productSignpost5Cta][default] = "#"
snippetProperties[productSignpost5Cta][options][] = ""
snippetProperties[productSignpost6Heading][title] = "product-signpost6-heading"
snippetProperties[productSignpost6Heading][type] = "string"
snippetProperties[productSignpost6Heading][default] = ""
snippetProperties[productSignpost6Heading][options][] = ""
snippetProperties[productSignpost6Copy][title] = "product-signpost6-copy"
snippetProperties[productSignpost6Copy][type] = "string"
snippetProperties[productSignpost6Copy][default] = ""
snippetProperties[productSignpost6Copy][options][] = ""
snippetProperties[productSignpost6Cta][title] = "product-signpost6-cta"
snippetProperties[productSignpost6Cta][type] = "string"
snippetProperties[productSignpost6Cta][default] = "#"
snippetProperties[productSignpost6Cta][options][] = ""
snippetProperties[productSignpost7Heading][title] = "product-signpost7-heading"
snippetProperties[productSignpost7Heading][type] = "string"
snippetProperties[productSignpost7Heading][default] = ""
snippetProperties[productSignpost7Heading][options][] = ""
snippetProperties[productSignpost7Copy][title] = "product-signpost7-copy"
snippetProperties[productSignpost7Copy][type] = "string"
snippetProperties[productSignpost7Copy][default] = ""
snippetProperties[productSignpost7Copy][options][] = ""
snippetProperties[productSignpost7Cta][title] = "product-signpost7-cta"
snippetProperties[productSignpost7Cta][type] = "string"
snippetProperties[productSignpost7Cta][default] = "#"
snippetProperties[productSignpost7Cta][options][] = ""
snippetProperties[productSignpost8Heading][title] = "product-signpost8-heading"
snippetProperties[productSignpost8Heading][type] = "string"
snippetProperties[productSignpost8Heading][default] = ""
snippetProperties[productSignpost8Heading][options][] = ""
snippetProperties[productSignpost8Copy][title] = "product-signpost8-copy"
snippetProperties[productSignpost8Copy][type] = "string"
snippetProperties[productSignpost8Copy][default] = ""
snippetProperties[productSignpost8Copy][options][] = ""
snippetProperties[productSignpost8Cta][title] = "product-signpost8-cta"
snippetProperties[productSignpost8Cta][type] = "string"
snippetProperties[productSignpost8Cta][default] = "#"
snippetProperties[productSignpost8Cta][options][] = ""
==
<section class="careers-button-box" id="13">
	<div class="container">
		<div class="row">
			<div class="col px-0">
				<div class="background">
					<div class="content-wrapper">
						<div class="careers-button-boxes">
                            <div class="row">
                                <div class="col">
                                    <h2 class="text-left">{{ productRangeH1 }}</h2>
                                    <h4 class="text-left">{{ productRangeH2 }}</h4>
                                </div>
                            </div>
							<div class="row">
								<div class="col-md-12">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost1Heading }}</h2>
														<p>{{ productSignpost1Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost1Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% if productSignpost2Heading != '' %}
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost2Heading }}</h2>
														<p>{{ productSignpost2Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost2Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% if productSignpost3Heading != '' %}
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost3Heading }}</h2>
														<p>{{ productSignpost3Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost3Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% if productSignpost4Heading != '' %}
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost4Heading }}</h2>
														<p>{{ productSignpost4Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost4Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% if productSignpost5Heading != '' %}
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost5Heading }}</h2>
														<p>{{ productSignpost5Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost5Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% if productSignpost6Heading != '' %}
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost6Heading }}</h2>
														<p>{{ productSignpost6Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost6Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% if productSignpost7Heading != '' %}
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost7Heading }}</h2>
														<p>{{ productSignpost7Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost7Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											{% if productSignpost8Heading != '' %}
											<div class="swiper-slide">
												<div class="careers-button-box-single">
													<div class="copy">
														<h2>{{ productSignpost8Heading }}</h2>
														<p>{{ productSignpost8Copy }}</p>
														<div class="button-wraper">
															<a class="btn-eis secondary arrow" href="{{ productSignpost8Cta }}">Read more</a>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>