[viewBag]
snippetCode = "reevoo-rating-module"
snippetName = "reevoo-rating-module"
==
<section class="rating" id="5">
	<div class="container">
		<div class="row">
			<div class="col px-0">
				<div class="background">
					<div class="content-wrapper">
						<div class="row">
                            <div class="col-md-6">
                                <div class="center-block">
                                    <img src="/storage/app/media/student-education/_home-rating-one.jpg" class="pt-4 mb-5 img-fluid"></div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>