[viewBag]
snippetCode = "reevoo-hero-module"
snippetName = "reevoo-hero-module"
snippetProperties[productHeroH1][title] = "product-hero-H1"
snippetProperties[productHeroH1][type] = "string"
snippetProperties[productHeroH1][default] = "Helping you find your possible"
snippetProperties[productHeroH1][options][] = ""
snippetProperties[productHeroH2][title] = "product-hero-H2"
snippetProperties[productHeroH2][type] = "string"
snippetProperties[productHeroH2][default] = "Subheader"
snippetProperties[productHeroH2][options][] = ""
snippetProperties[productHeroH3][title] = "product-hero-H3"
snippetProperties[productHeroH3][type] = "string"
snippetProperties[productHeroH3][default] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore e"
snippetProperties[productHeroH3][options][] = ""
==
<section class="rating">
    <div class="container">
        <div class="row">
            <div class="col px-0">
                <div class="background">
                    <div class="content-wrapper">
                        <h3>{{ productHeroH2 }}</h3>
                        <h2>{{ productHeroH1 }}</h2>
                        <p>{{ productHeroH3 }}</p>
                        <div class="shadow-container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <!-- Swiper -->
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="/storage/app/media/student-education/_home-rating-one.jpg"
                                                    width="100%"></div>
                                            <div class="swiper-slide"><img src="/storage/app/media/student-education/_home-rating-one.jpg"
                                                    width="100%"></div>
                                            <div class="swiper-slide"><img src="/storage/app/media/student-education/_home-rating-one.jpg"
                                                    width="100%"></div>
                                        </div>
                                    </div>
                                    <!-- Swiper -->
                                </div>
                                <div class="col-md-6 ">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="btn-eis secondary arrow">Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>