[viewBag]
snippetCode = "social-module"
snippetName = "social-module"
snippetProperties[productHeroH1][title] = "product-hero-H1"
snippetProperties[productHeroH1][type] = "string"
snippetProperties[productHeroH1][default] = "Talk to us on Twitter"
snippetProperties[productHeroH1][options][] = ""
snippetProperties[productHeroH3][title] = "product-hero-H3"
snippetProperties[productHeroH3][type] = "string"
snippetProperties[productHeroH3][default] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore e"
snippetProperties[productHeroH3][options][] = ""
==
<section class="twitter">
    <div class="container">
        <div class="row">
            <div class="col px-0">
                <div class="background">
                    <div class="content-wrapper">
                        <h2>{{ productHeroH1 }}</h2>
                        <p>{{ productHeroH3 }}</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>