[viewBag]
snippetCode = "twitter-module"
snippetName = "twitter-module"
snippetProperties[twitterH1][title] = "twitter-H1"
snippetProperties[twitterH1][type] = "string"
snippetProperties[twitterH1][default] = ""
snippetProperties[twitterH1][options][] = ""
snippetProperties[twitterH2][title] = "twitter-H2"
snippetProperties[twitterH2][type] = "string"
snippetProperties[twitterH2][default] = "Subtitle"
snippetProperties[twitterH2][options][] = ""
snippetProperties[twitterCopy][title] = "twitter-copy"
snippetProperties[twitterCopy][type] = "string"
snippetProperties[twitterCopy][default] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
snippetProperties[twitterCopy][options][] = ""
==
<section class="twitter" id="6">
	<div class="container">

        <div class="background">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <h3>{{ twitterH2 }}</h3>
                        <h2>{{ twitterH1 }}</h2>
                        <p>{{ twitterCopy }}</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/storage/app/media/personal/twitter.png"
                             class="pt-4 mb-5"></div>
                </div>
            </div>
        </div>

	</div>
</section>