[viewBag]
snippetCode = "why-endsleigh-module"
snippetName = "why-endsleigh-module"
snippetProperties[endsleighH1][title] = "endsleigh-H1"
snippetProperties[endsleighH1][type] = "string"
snippetProperties[endsleighH1][default] = ""
snippetProperties[endsleighH1][options][] = ""
snippetProperties[endsleighH2][title] = "endsleigh-H2"
snippetProperties[endsleighH2][type] = "string"
snippetProperties[endsleighH2][default] = ""
snippetProperties[endsleighH2][options][] = ""
snippetProperties[endsleighCopy][title] = "endsleigh-copy"
snippetProperties[endsleighCopy][type] = "string"
snippetProperties[endsleighCopy][default] = ""
snippetProperties[endsleighCopy][options][] = ""
==
<section class="why" id="27">
	<div class="container">
		<div class="row">
			<div class="col px-0">
				<div class="background">
					<div class="content-wrapper" style="padding-left: 400px;">
						<h3>{{ endsleighH2 }}</h3>
						<h2>{{ endsleighH1 }}</h2>
						<p>{{ endsleighCopy }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>